name: Deploy NodeJS application to Digital Ocean

on:
  push: 
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
            host: ${{secrets.SSH_HOST}}
            username: root
            key: ${{secrets.SSH_KEY}}
            script: |
              cd /root/my-backend
              git pull
              docker compose up -d --build
